# a Portable Version of Xournalpp to test the pluigin
xournalpp-portable

# Python
__pycache__
*.pyc

# to be sure that a contributer can use macOS
DS_Store
*.DS_Store

# Docker
output/

# Notepad++
*.bak

# VSCODE
.vscode/
